@import "./catppuccin.scss";

$Rosewater:     $macchiato-rosewater;
$Flamingo:      $macchiato-flamingo;
$Pink:          $macchiato-pink;
$Mauve:         $macchiato-mauve;
$Red:           $macchiato-red;
$Maroon:        $macchiato-maroon;
$Peach:         $macchiato-peach;
$Yellow:        $macchiato-yellow;
$Green:         $macchiato-green;
$Teal:          $macchiato-teal;
$Sky:           $macchiato-sky;
$Sapphire:      $macchiato-sapphire;
$Blue:          $macchiato-blue;
$Lavender:      $macchiato-lavender;
$Text:          $macchiato-text;
$Subtext1:      $macchiato-subtext1;
$Subtext0:      $macchiato-subtext0;
$Overlay2:      $macchiato-overlay2;
$Overlay1:      $macchiato-overlay1;
$Overlay0:      $macchiato-overlay0;
$Surface2:      $macchiato-surface2;
$Surface1:      $macchiato-surface1;
$Surface0:      $macchiato-surface0;
$Base:          $macchiato-base;
$Mantle:        $macchiato-mantle;
$Crust:         $macchiato-crust;


* {
  all: unset;
  color: $Text;
  font-family: "Hack Nerd Font Mono";
  font-size: 1.2em;
}

.transparent {
  padding: 8;
}

.bx {
  background: $Crust;
  border-radius: 20px;
  padding-left: 10;
  padding-right: 10;
}

.inner {
  background: $Surface2;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.workspace-active {
  background: $Mauve;
  color: $Surface0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.workspace-inactive {
  background: $Surface0;
  padding-left: 10px;
  padding-right: 10px;
}

.workspace-box {
  background: $Surface0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

.contained-label {
  background: $Surface0;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  background: $Surface0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}







