	$latte-rosewater: #dc8a78;
	$latte-rosewater-rgb: rgb(220, 138, 120);
	$latte-rosewater-hsl: hsl(11, 59%, 67%);
	$latte-rosewater-raw: 220, 138, 120;
	$frappe-rosewater: #f2d5cf;
	$frappe-rosewater-rgb: rgb(242, 213, 207);
	$frappe-rosewater-hsl: hsl(10, 57%, 88%);
	$frappe-rosewater-raw: 242, 213, 207;
	$macchiato-rosewater: #f4dbd6;
	$macchiato-rosewater-rgb: rgb(244, 219, 214);
	$macchiato-rosewater-hsl: hsl(10, 58%, 90%);
	$macchiato-rosewater-raw: 244, 219, 214;
	$mocha-rosewater: #f5e0dc;
	$mocha-rosewater-rgb: rgb(245, 224, 220);
	$mocha-rosewater-hsl: hsl(10, 56%, 91%);
	$mocha-rosewater-raw: 245, 224, 220;
	$latte-flamingo: #dd7878;
	$latte-flamingo-rgb: rgb(221, 120, 120);
	$latte-flamingo-hsl: hsl(0, 60%, 67%);
	$latte-flamingo-raw: 221, 120, 120;
	$frappe-flamingo: #eebebe;
	$frappe-flamingo-rgb: rgb(238, 190, 190);
	$frappe-flamingo-hsl: hsl(0, 59%, 84%);
	$frappe-flamingo-raw: 238, 190, 190;
	$macchiato-flamingo: #f0c6c6;
	$macchiato-flamingo-rgb: rgb(240, 198, 198);
	$macchiato-flamingo-hsl: hsl(0, 58%, 86%);
	$macchiato-flamingo-raw: 240, 198, 198;
	$mocha-flamingo: #f2cdcd;
	$mocha-flamingo-rgb: rgb(242, 205, 205);
	$mocha-flamingo-hsl: hsl(0, 59%, 88%);
	$mocha-flamingo-raw: 242, 205, 205;
	$latte-pink: #ea76cb;
	$latte-pink-rgb: rgb(234, 118, 203);
	$latte-pink-hsl: hsl(316, 73%, 69%);
	$latte-pink-raw: 234, 118, 203;
	$frappe-pink: #f4b8e4;
	$frappe-pink-rgb: rgb(244, 184, 228);
	$frappe-pink-hsl: hsl(316, 73%, 84%);
	$frappe-pink-raw: 244, 184, 228;
	$macchiato-pink: #f5bde6;
	$macchiato-pink-rgb: rgb(245, 189, 230);
	$macchiato-pink-hsl: hsl(316, 74%, 85%);
	$macchiato-pink-raw: 245, 189, 230;
	$mocha-pink: #f5c2e7;
	$mocha-pink-rgb: rgb(245, 194, 231);
	$mocha-pink-hsl: hsl(316, 72%, 86%);
	$mocha-pink-raw: 245, 194, 231;
	$latte-mauve: #8839ef;
	$latte-mauve-rgb: rgb(136, 57, 239);
	$latte-mauve-hsl: hsl(266, 85%, 58%);
	$latte-mauve-raw: 136, 57, 239;
	$frappe-mauve: #ca9ee6;
	$frappe-mauve-rgb: rgb(202, 158, 230);
	$frappe-mauve-hsl: hsl(277, 59%, 76%);
	$frappe-mauve-raw: 202, 158, 230;
	$macchiato-mauve: #c6a0f6;
	$macchiato-mauve-rgb: rgb(198, 160, 246);
	$macchiato-mauve-hsl: hsl(267, 83%, 80%);
	$macchiato-mauve-raw: 198, 160, 246;
	$mocha-mauve: #cba6f7;
	$mocha-mauve-rgb: rgb(203, 166, 247);
	$mocha-mauve-hsl: hsl(267, 84%, 81%);
	$mocha-mauve-raw: 203, 166, 247;
	$latte-red: #d20f39;
	$latte-red-rgb: rgb(210, 15, 57);
	$latte-red-hsl: hsl(347, 87%, 44%);
	$latte-red-raw: 210, 15, 57;
	$frappe-red: #e78284;
	$frappe-red-rgb: rgb(231, 130, 132);
	$frappe-red-hsl: hsl(359, 68%, 71%);
	$frappe-red-raw: 231, 130, 132;
	$macchiato-red: #ed8796;
	$macchiato-red-rgb: rgb(237, 135, 150);
	$macchiato-red-hsl: hsl(351, 74%, 73%);
	$macchiato-red-raw: 237, 135, 150;
	$mocha-red: #f38ba8;
	$mocha-red-rgb: rgb(243, 139, 168);
	$mocha-red-hsl: hsl(343, 81%, 75%);
	$mocha-red-raw: 243, 139, 168;
	$latte-maroon: #e64553;
	$latte-maroon-rgb: rgb(230, 69, 83);
	$latte-maroon-hsl: hsl(355, 76%, 59%);
	$latte-maroon-raw: 230, 69, 83;
	$frappe-maroon: #ea999c;
	$frappe-maroon-rgb: rgb(234, 153, 156);
	$frappe-maroon-hsl: hsl(358, 66%, 76%);
	$frappe-maroon-raw: 234, 153, 156;
	$macchiato-maroon: #ee99a0;
	$macchiato-maroon-rgb: rgb(238, 153, 160);
	$macchiato-maroon-hsl: hsl(355, 71%, 77%);
	$macchiato-maroon-raw: 238, 153, 160;
	$mocha-maroon: #eba0ac;
	$mocha-maroon-rgb: rgb(235, 160, 172);
	$mocha-maroon-hsl: hsl(350, 65%, 77%);
	$mocha-maroon-raw: 235, 160, 172;
	$latte-peach: #fe640b;
	$latte-peach-rgb: rgb(254, 100, 11);
	$latte-peach-hsl: hsl(22, 99%, 52%);
	$latte-peach-raw: 254, 100, 11;
	$frappe-peach: #ef9f76;
	$frappe-peach-rgb: rgb(239, 159, 118);
	$frappe-peach-hsl: hsl(20, 79%, 70%);
	$frappe-peach-raw: 239, 159, 118;
	$macchiato-peach: #f5a97f;
	$macchiato-peach-rgb: rgb(245, 169, 127);
	$macchiato-peach-hsl: hsl(21, 86%, 73%);
	$macchiato-peach-raw: 245, 169, 127;
	$mocha-peach: #fab387;
	$mocha-peach-rgb: rgb(250, 179, 135);
	$mocha-peach-hsl: hsl(23, 92%, 75%);
	$mocha-peach-raw: 250, 179, 135;
	$latte-yellow: #df8e1d;
	$latte-yellow-rgb: rgb(223, 142, 29);
	$latte-yellow-hsl: hsl(35, 77%, 49%);
	$latte-yellow-raw: 223, 142, 29;
	$frappe-yellow: #e5c890;
	$frappe-yellow-rgb: rgb(229, 200, 144);
	$frappe-yellow-hsl: hsl(40, 62%, 73%);
	$frappe-yellow-raw: 229, 200, 144;
	$macchiato-yellow: #eed49f;
	$macchiato-yellow-rgb: rgb(238, 212, 159);
	$macchiato-yellow-hsl: hsl(40, 70%, 78%);
	$macchiato-yellow-raw: 238, 212, 159;
	$mocha-yellow: #f9e2af;
	$mocha-yellow-rgb: rgb(249, 226, 175);
	$mocha-yellow-hsl: hsl(41, 86%, 83%);
	$mocha-yellow-raw: 249, 226, 175;
	$latte-green: #40a02b;
	$latte-green-rgb: rgb(64, 160, 43);
	$latte-green-hsl: hsl(109, 58%, 40%);
	$latte-green-raw: 64, 160, 43;
	$frappe-green: #a6d189;
	$frappe-green-rgb: rgb(166, 209, 137);
	$frappe-green-hsl: hsl(96, 44%, 68%);
	$frappe-green-raw: 166, 209, 137;
	$macchiato-green: #a6da95;
	$macchiato-green-rgb: rgb(166, 218, 149);
	$macchiato-green-hsl: hsl(105, 48%, 72%);
	$macchiato-green-raw: 166, 218, 149;
	$mocha-green: #a6e3a1;
	$mocha-green-rgb: rgb(166, 227, 161);
	$mocha-green-hsl: hsl(115, 54%, 76%);
	$mocha-green-raw: 166, 227, 161;
	$latte-teal: #179299;
	$latte-teal-rgb: rgb(23, 146, 153);
	$latte-teal-hsl: hsl(183, 74%, 35%);
	$latte-teal-raw: 23, 146, 153;
	$frappe-teal: #81c8be;
	$frappe-teal-rgb: rgb(129, 200, 190);
	$frappe-teal-hsl: hsl(172, 39%, 65%);
	$frappe-teal-raw: 129, 200, 190;
	$macchiato-teal: #8bd5ca;
	$macchiato-teal-rgb: rgb(139, 213, 202);
	$macchiato-teal-hsl: hsl(171, 47%, 69%);
	$macchiato-teal-raw: 139, 213, 202;
	$mocha-teal: #94e2d5;
	$mocha-teal-rgb: rgb(148, 226, 213);
	$mocha-teal-hsl: hsl(170, 57%, 73%);
	$mocha-teal-raw: 148, 226, 213;
	$latte-sky: #04a5e5;
	$latte-sky-rgb: rgb(4, 165, 229);
	$latte-sky-hsl: hsl(197, 97%, 46%);
	$latte-sky-raw: 4, 165, 229;
	$frappe-sky: #99d1db;
	$frappe-sky-rgb: rgb(153, 209, 219);
	$frappe-sky-hsl: hsl(189, 48%, 73%);
	$frappe-sky-raw: 153, 209, 219;
	$macchiato-sky: #91d7e3;
	$macchiato-sky-rgb: rgb(145, 215, 227);
	$macchiato-sky-hsl: hsl(189, 59%, 73%);
	$macchiato-sky-raw: 145, 215, 227;
	$mocha-sky: #89dceb;
	$mocha-sky-rgb: rgb(137, 220, 235);
	$mocha-sky-hsl: hsl(189, 71%, 73%);
	$mocha-sky-raw: 137, 220, 235;
	$latte-sapphire: #209fb5;
	$latte-sapphire-rgb: rgb(32, 159, 181);
	$latte-sapphire-hsl: hsl(189, 70%, 42%);
	$latte-sapphire-raw: 32, 159, 181;
	$frappe-sapphire: #85c1dc;
	$frappe-sapphire-rgb: rgb(133, 193, 220);
	$frappe-sapphire-hsl: hsl(199, 55%, 69%);
	$frappe-sapphire-raw: 133, 193, 220;
	$macchiato-sapphire: #7dc4e4;
	$macchiato-sapphire-rgb: rgb(125, 196, 228);
	$macchiato-sapphire-hsl: hsl(199, 66%, 69%);
	$macchiato-sapphire-raw: 125, 196, 228;
	$mocha-sapphire: #74c7ec;
	$mocha-sapphire-rgb: rgb(116, 199, 236);
	$mocha-sapphire-hsl: hsl(199, 76%, 69%);
	$mocha-sapphire-raw: 116, 199, 236;
	$latte-blue: #1e66f5;
	$latte-blue-rgb: rgb(30, 102, 245);
	$latte-blue-hsl: hsl(220, 91%, 54%);
	$latte-blue-raw: 30, 102, 245;
	$frappe-blue: #8caaee;
	$frappe-blue-rgb: rgb(140, 170, 238);
	$frappe-blue-hsl: hsl(222, 74%, 74%);
	$frappe-blue-raw: 140, 170, 238;
	$macchiato-blue: #8aadf4;
	$macchiato-blue-rgb: rgb(138, 173, 244);
	$macchiato-blue-hsl: hsl(220, 83%, 75%);
	$macchiato-blue-raw: 138, 173, 244;
	$mocha-blue: #89b4fa;
	$mocha-blue-rgb: rgb(137, 180, 250);
	$mocha-blue-hsl: hsl(217, 92%, 76%);
	$mocha-blue-raw: 137, 180, 250;
	$latte-lavender: #7287fd;
	$latte-lavender-rgb: rgb(114, 135, 253);
	$latte-lavender-hsl: hsl(231, 97%, 72%);
	$latte-lavender-raw: 114, 135, 253;
	$frappe-lavender: #babbf1;
	$frappe-lavender-rgb: rgb(186, 187, 241);
	$frappe-lavender-hsl: hsl(239, 66%, 84%);
	$frappe-lavender-raw: 186, 187, 241;
	$macchiato-lavender: #b7bdf8;
	$macchiato-lavender-rgb: rgb(183, 189, 248);
	$macchiato-lavender-hsl: hsl(234, 82%, 85%);
	$macchiato-lavender-raw: 183, 189, 248;
	$mocha-lavender: #b4befe;
	$mocha-lavender-rgb: rgb(180, 190, 254);
	$mocha-lavender-hsl: hsl(232, 97%, 85%);
	$mocha-lavender-raw: 180, 190, 254;
	$latte-text: #4c4f69;
	$latte-text-rgb: rgb(76, 79, 105);
	$latte-text-hsl: hsl(234, 16%, 35%);
	$latte-text-raw: 76, 79, 105;
	$frappe-text: #c6d0f5;
	$frappe-text-rgb: rgb(198, 208, 245);
	$frappe-text-hsl: hsl(227, 70%, 87%);
	$frappe-text-raw: 198, 208, 245;
	$macchiato-text: #cad3f5;
	$macchiato-text-rgb: rgb(202, 211, 245);
	$macchiato-text-hsl: hsl(227, 68%, 88%);
	$macchiato-text-raw: 202, 211, 245;
	$mocha-text: #cdd6f4;
	$mocha-text-rgb: rgb(205, 214, 244);
	$mocha-text-hsl: hsl(226, 64%, 88%);
	$mocha-text-raw: 205, 214, 244;
	$latte-subtext1: #5c5f77;
	$latte-subtext1-rgb: rgb(92, 95, 119);
	$latte-subtext1-hsl: hsl(233, 13%, 41%);
	$latte-subtext1-raw: 92, 95, 119;
	$frappe-subtext1: #b5bfe2;
	$frappe-subtext1-rgb: rgb(181, 191, 226);
	$frappe-subtext1-hsl: hsl(227, 44%, 80%);
	$frappe-subtext1-raw: 181, 191, 226;
	$macchiato-subtext1: #b8c0e0;
	$macchiato-subtext1-rgb: rgb(184, 192, 224);
	$macchiato-subtext1-hsl: hsl(228, 39%, 80%);
	$macchiato-subtext1-raw: 184, 192, 224;
	$mocha-subtext1: #bac2de;
	$mocha-subtext1-rgb: rgb(186, 194, 222);
	$mocha-subtext1-hsl: hsl(227, 35%, 80%);
	$mocha-subtext1-raw: 186, 194, 222;
	$latte-subtext0: #6c6f85;
	$latte-subtext0-rgb: rgb(108, 111, 133);
	$latte-subtext0-hsl: hsl(233, 10%, 47%);
	$latte-subtext0-raw: 108, 111, 133;
	$frappe-subtext0: #a5adce;
	$frappe-subtext0-rgb: rgb(165, 173, 206);
	$frappe-subtext0-hsl: hsl(228, 29%, 73%);
	$frappe-subtext0-raw: 165, 173, 206;
	$macchiato-subtext0: #a5adcb;
	$macchiato-subtext0-rgb: rgb(165, 173, 203);
	$macchiato-subtext0-hsl: hsl(227, 27%, 72%);
	$macchiato-subtext0-raw: 165, 173, 203;
	$mocha-subtext0: #a6adc8;
	$mocha-subtext0-rgb: rgb(166, 173, 200);
	$mocha-subtext0-hsl: hsl(228, 24%, 72%);
	$mocha-subtext0-raw: 166, 173, 200;
	$latte-overlay2: #7c7f93;
	$latte-overlay2-rgb: rgb(124, 127, 147);
	$latte-overlay2-hsl: hsl(232, 10%, 53%);
	$latte-overlay2-raw: 124, 127, 147;
	$frappe-overlay2: #949cbb;
	$frappe-overlay2-rgb: rgb(148, 156, 187);
	$frappe-overlay2-hsl: hsl(228, 22%, 66%);
	$frappe-overlay2-raw: 148, 156, 187;
	$macchiato-overlay2: #939ab7;
	$macchiato-overlay2-rgb: rgb(147, 154, 183);
	$macchiato-overlay2-hsl: hsl(228, 20%, 65%);
	$macchiato-overlay2-raw: 147, 154, 183;
	$mocha-overlay2: #9399b2;
	$mocha-overlay2-rgb: rgb(147, 153, 178);
	$mocha-overlay2-hsl: hsl(228, 17%, 64%);
	$mocha-overlay2-raw: 147, 153, 178;
	$latte-overlay1: #8c8fa1;
	$latte-overlay1-rgb: rgb(140, 143, 161);
	$latte-overlay1-hsl: hsl(231, 10%, 59%);
	$latte-overlay1-raw: 140, 143, 161;
	$frappe-overlay1: #838ba7;
	$frappe-overlay1-rgb: rgb(131, 139, 167);
	$frappe-overlay1-hsl: hsl(227, 17%, 58%);
	$frappe-overlay1-raw: 131, 139, 167;
	$macchiato-overlay1: #8087a2;
	$macchiato-overlay1-rgb: rgb(128, 135, 162);
	$macchiato-overlay1-hsl: hsl(228, 15%, 57%);
	$macchiato-overlay1-raw: 128, 135, 162;
	$mocha-overlay1: #7f849c;
	$mocha-overlay1-rgb: rgb(127, 132, 156);
	$mocha-overlay1-hsl: hsl(230, 13%, 55%);
	$mocha-overlay1-raw: 127, 132, 156;
	$latte-overlay0: #9ca0b0;
	$latte-overlay0-rgb: rgb(156, 160, 176);
	$latte-overlay0-hsl: hsl(228, 11%, 65%);
	$latte-overlay0-raw: 156, 160, 176;
	$frappe-overlay0: #737994;
	$frappe-overlay0-rgb: rgb(115, 121, 148);
	$frappe-overlay0-hsl: hsl(229, 13%, 52%);
	$frappe-overlay0-raw: 115, 121, 148;
	$macchiato-overlay0: #6e738d;
	$macchiato-overlay0-rgb: rgb(110, 115, 141);
	$macchiato-overlay0-hsl: hsl(230, 12%, 49%);
	$macchiato-overlay0-raw: 110, 115, 141;
	$mocha-overlay0: #6c7086;
	$mocha-overlay0-rgb: rgb(108, 112, 134);
	$mocha-overlay0-hsl: hsl(231, 11%, 47%);
	$mocha-overlay0-raw: 108, 112, 134;
	$latte-surface2: #acb0be;
	$latte-surface2-rgb: rgb(172, 176, 190);
	$latte-surface2-hsl: hsl(227, 12%, 71%);
	$latte-surface2-raw: 172, 176, 190;
	$frappe-surface2: #626880;
	$frappe-surface2-rgb: rgb(98, 104, 128);
	$frappe-surface2-hsl: hsl(228, 13%, 44%);
	$frappe-surface2-raw: 98, 104, 128;
	$macchiato-surface2: #5b6078;
	$macchiato-surface2-rgb: rgb(91, 96, 120);
	$macchiato-surface2-hsl: hsl(230, 14%, 41%);
	$macchiato-surface2-raw: 91, 96, 120;
	$mocha-surface2: #585b70;
	$mocha-surface2-rgb: rgb(88, 91, 112);
	$mocha-surface2-hsl: hsl(233, 12%, 39%);
	$mocha-surface2-raw: 88, 91, 112;
	$latte-surface1: #bcc0cc;
	$latte-surface1-rgb: rgb(188, 192, 204);
	$latte-surface1-hsl: hsl(225, 14%, 77%);
	$latte-surface1-raw: 188, 192, 204;
	$frappe-surface1: #51576d;
	$frappe-surface1-rgb: rgb(81, 87, 109);
	$frappe-surface1-hsl: hsl(227, 15%, 37%);
	$frappe-surface1-raw: 81, 87, 109;
	$macchiato-surface1: #494d64;
	$macchiato-surface1-rgb: rgb(73, 77, 100);
	$macchiato-surface1-hsl: hsl(231, 16%, 34%);
	$macchiato-surface1-raw: 73, 77, 100;
	$mocha-surface1: #45475a;
	$mocha-surface1-rgb: rgb(69, 71, 90);
	$mocha-surface1-hsl: hsl(234, 13%, 31%);
	$mocha-surface1-raw: 69, 71, 90;
	$latte-surface0: #ccd0da;
	$latte-surface0-rgb: rgb(204, 208, 218);
	$latte-surface0-hsl: hsl(223, 16%, 83%);
	$latte-surface0-raw: 204, 208, 218;
	$frappe-surface0: #414559;
	$frappe-surface0-rgb: rgb(65, 69, 89);
	$frappe-surface0-hsl: hsl(230, 16%, 30%);
	$frappe-surface0-raw: 65, 69, 89;
	$macchiato-surface0: #363a4f;
	$macchiato-surface0-rgb: rgb(54, 58, 79);
	$macchiato-surface0-hsl: hsl(230, 19%, 26%);
	$macchiato-surface0-raw: 54, 58, 79;
	$mocha-surface0: #313244;
	$mocha-surface0-rgb: rgb(49, 50, 68);
	$mocha-surface0-hsl: hsl(237, 16%, 23%);
	$mocha-surface0-raw: 49, 50, 68;
	$latte-base: #eff1f5;
	$latte-base-rgb: rgb(239, 241, 245);
	$latte-base-hsl: hsl(220, 23%, 95%);
	$latte-base-raw: 239, 241, 245;
	$frappe-base: #303446;
	$frappe-base-rgb: rgb(48, 52, 70);
	$frappe-base-hsl: hsl(229, 19%, 23%);
	$frappe-base-raw: 48, 52, 70;
	$macchiato-base: #24273a;
	$macchiato-base-rgb: rgb(36, 39, 58);
	$macchiato-base-hsl: hsl(232, 23%, 18%);
	$macchiato-base-raw: 36, 39, 58;
	$mocha-base: #1e1e2e;
	$mocha-base-rgb: rgb(30, 30, 46);
	$mocha-base-hsl: hsl(240, 21%, 15%);
	$mocha-base-raw: 30, 30, 46;
	$latte-mantle: #e6e9ef;
	$latte-mantle-rgb: rgb(230, 233, 239);
	$latte-mantle-hsl: hsl(220, 22%, 92%);
	$latte-mantle-raw: 230, 233, 239;
	$frappe-mantle: #292c3c;
	$frappe-mantle-rgb: rgb(41, 44, 60);
	$frappe-mantle-hsl: hsl(231, 19%, 20%);
	$frappe-mantle-raw: 41, 44, 60;
	$macchiato-mantle: #1e2030;
	$macchiato-mantle-rgb: rgb(30, 32, 48);
	$macchiato-mantle-hsl: hsl(233, 23%, 15%);
	$macchiato-mantle-raw: 30, 32, 48;
	$mocha-mantle: #181825;
	$mocha-mantle-rgb: rgb(24, 24, 37);
	$mocha-mantle-hsl: hsl(240, 21%, 12%);
	$mocha-mantle-raw: 24, 24, 37;
	$latte-crust: #dce0e8;
	$latte-crust-rgb: rgb(220, 224, 232);
	$latte-crust-hsl: hsl(220, 21%, 89%);
	$latte-crust-raw: 220, 224, 232;
	$frappe-crust: #232634;
	$frappe-crust-rgb: rgb(35, 38, 52);
	$frappe-crust-hsl: hsl(229, 20%, 17%);
	$frappe-crust-raw: 35, 38, 52;
	$macchiato-crust: #181926;
	$macchiato-crust-rgb: rgb(24, 25, 38);
	$macchiato-crust-hsl: hsl(236, 23%, 12%);
	$macchiato-crust-raw: 24, 25, 38;
	$mocha-crust: #11111b;
	$mocha-crust-rgb: rgb(17, 17, 27);
	$mocha-crust-hsl: hsl(240, 23%, 9%);
	$mocha-crust-raw: 17, 17, 27;
